.element__content {
    background-color: #FFF;
    max-width: 282px;
    padding: 25px 0 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}