.form__error_visible {
  position: absolute;
  top: 37px;
  left: 0;
  font-size: 12px;
  line-height: 15px;
  color: #ff0000;
  width: 358px;
  z-index: 1;
}

@media screen and (max-width: 1000px) {
  .form__error_visible {
    width: 214px;
  }
}
